body {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.schedule {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 14px;
}

.row {
  white-space: pre-wrap;
  height: 75px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 3px dashed #000000;
}

.past {
  background-color: lightgray;
  color: white;
}

.present {
  background-color: yellow;
  color: white;
}

.future {
  background-color: green;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: whitesmoke;
  color: #343a40;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}